/*  Setup some basic styling for the body */
@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");
body {
  background-image: url("../assets/paper2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  color: rgb(39, 138, 19);
  text-shadow: 3px 2px rgb(236, 253, 1);

  font-family: "Courier Prime";
  letter-spacing: 2px;
}

/* denne dækker over de andre lag, hvorfor? */
.titel {
  height: 200px;
  width: 100%;
  margin-top: 100px;
  position: fixed;
  text-align: center;
  z-index: 1;
}

h1 {
  font-size: 50px;
}

.rubrik {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
}

.buttons {
  text-align: center;
  margin: 0 0 20px 0;
}

button {
  color: yellow;
  background-color: #c0bebe;
  font-family: "Courier Prime";
  letter-spacing: 2px;
  font-size: 12px;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  display: inline-block;
}

button:hover {
  color: black;
  border-color: #dddddd;
}

@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

.input {
  text-align: center;
  margin-bottom: 10px;
}

input {
  background-color: #dddddd;
  color: black;
}

.novelle {
  text-align: center;
  font-size: 48px;
}

.info {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-around;
}

h2 {
  /* flex: 1; */

  font-size: medium;
}
